# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite database files
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Environment Variables
.env
.env.local
